 <div class="container">
  <a href ="events/<%= event.id %>">
  <div class="more">
  <b>イベント名</b>
  <%= event.title %>
 <br/>
    <b>日付     </b><%= event.event_date%>
 <br/>
  </div>
  <span class="name">
      <span>参加者数</span>  <%= event.min_count %>名
 </div>
 </a>