<div id="gray_out">
  <div class="contents row">
   <div class="container">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </div>
    <div class="container">
        <%= image_tag 'b.jpg' %>
    </div>
    <div class="container">
      <%= form_tag('/result', method: :post) do %>
        <h1>
        メールフォーム
        </h1>

        <br/>
        <label>name</label>
        <input type="text" value ="" name="name" />
         <label>address</label>
        <input type="text" value ="" name="address" />
        <input type="submit" value="Send">
      <% end %>
    </div>
  </div>

</div>